h1 {
  font-family: work sans, sans-serif;
  font-size: 50px;
  padding: 20px;
}
h3 {
  font-family: poppins, sans-serif;
  padding-top: 30px;
  text-align: center;
}
form {
  padding-top: 80px;
  margin: 0px;
}
.card {
  border-radius: 20px;
  font-family: poppins, sans-serif;
  display: block;
  margin: 0 auto;
  max-width: 750px;
}
.card-body {
  color: #f1faee;
  border: solid #ebfaff;
  border-radius: 20px;
  background-color: #1d3557;
}
.search {
  border: #0fa3b1;
  border-radius: 10px;
}
.city {
  text-align: center;
}
.next {
  font-size: 20px;
  padding: 40px auto;
  text-align: center;
}

#temperature {
  line-height: 25px;
  padding: 5px;
}
